<div (click)="clickCard()" [ngClass]="card.fliped ? 'no-click' : ''" class="card-container">
    <div [ngClass]="card.fliped ? 'flip-poke-card' : ''" class="poke-card">
        <div class="card back"> 
            <div class="d-table card-style">
                <div [ngClass]="card.id === 9 ? 'teleport' : ''"  class="d-table-cell back">
                    <img class="back-logo" src="assets/images/ui/pokeball.png">
                </div>
            </div>
        </div>
        <div class="card front"> 
            <div class="d-table card-style">
                <div class="d-table-cell front">
                    <img [ngClass]="card.animation" class="back-logo" [src]="card.imgUrl">
                </div>
            </div>
        </div>
    </div>
</div>