<div class="main-container">
    <div class="row player-area">
        <div [ngClass]="avatarAnimation" class="col-12">
            <img (click)="change()" class="avatar" src="assets/images/ui/player.png">
            <div class="hp-status">
                <app-hp-bar [total]="hp" [status-list]="statusList" [value]="player.hp"></app-hp-bar>
            </div>
        </div>
        <div class="col-12">
            <div class="bag-area f-right">
                <img class="bag" (click)="play()" src="assets/images/ui/backpack.png">
            </div>
            <div class="items-area f-right">
                <img [ngClass]="{'disable': player.bag.potion < 1}" class="items" (click)="usePotion()" src="assets/images/ui/potion.png">
                <p>{{player.bag.potion > 0 ? player.bag.potion + 'x' : 0}}</p>
            </div>
            <div class="items-area f-right">
                <img [ngClass]="{'disable': player.bag.pokeballs.normal < 1}" class="items" (click)="usePokeball('normal')" src="assets/images/ui/pokeball.png">
                <p>{{player.bag.pokeballs.normal > 0 ? player.bag.pokeballs.normal  + 'x' : 0}}</p>
            </div>
            <div class="items-area f-right">
                <img [ngClass]="{'disable': player.bag.pokeballs.super < 1}" class="items" (click)="usePokeball('super')" src="assets/images/ui/superball.png">
                <p>{{player.bag.pokeballs.super > 0 ? player.bag.pokeballs.super  + 'x' : 0}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="game-area" [style.height.px]="(cardList.length) * 180" [style.width.px]="(cardList[0].length) * 120">
                <app-card *ngFor="let card of cardList | dispositionCards:changed" [reset]="reset" (onClick)="setCardValue($event)"
                    [card]="card"></app-card>
            </div>
        </div>
    </div>
</div>
