.main-container {
  margin: 15px;
  background-color: #ffffff;
}

.poke-avatar {
  width: 36px;
  height: 36px;

}

.player-area {
  padding: 30px;
}

.game-area {
  position: relative;
  margin: auto;
}

.bag-area {
  max-width: 56px;
  margin: 15px;
  .bag {
    max-width: 56px;
    width: 52px;
    height: 52px;
    float: right;
  }
}
.items-area {
  padding-right: 15px;
  text-align: center;
  .items {
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-top: 25px;
    // float: right;
  }
  .disable {
    filter: grayscale(100%);
    cursor: not-allowed;
  }
}

.f-right{
  float: right;
}

.avatar {
  float: right;
  width: 56px;
  height: 56px;
}

.hp-status {
  padding-top: 15px;
  float: right;
  width: 200px;
  height: 10px;
}

.strike {
  animation: shake 0.6s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}
