<div class="mat-container">
  <div class="mat-title">
    <div class="row title">
      <div class="col-12">
        <span>Bem vindo ao PokeMemory</span>
      </div>
    </div>
  </div>
  <div class="mat-body">
    <span>PokeMemory é um jogo de memoria com tema pokemon, seu objetivo é descobrir todos os pares.
      Antes de começar vamos conhecer algumas regras.
    </span>
  </div>
  <div class="mat-footer">
    <div class="row btn-area">
      <div class="col-12">
        <button class="btn btn-small" (click)="dialogRef.close(true)"type="button">PRÓXIMO</button>
      </div>
    </div>
  </div>
</div>
