.skill{
    max-width: auto;
    max-height: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    background-color: #ffffffee;
    border-radius: 10px;
}

.skill-icon{
    width: 62px;
    height: 62px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-10 {
    padding: 10px;
}