.modal-container {
    width: 440px;
    height: 280px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.modal-header {
    font-size: 1.125rem;
    font-weight: bold;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding-bottom: 20px;
}
