:host {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;

  .bar {
    border-radius: 5px;
    height: 8px;
    width: 100%;
    background-color: #AAAAAA;
    position: absolute;
    right: 0;
  }

  .hp-level {
    border-radius: 5px;
    height: 8px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all .300s ease-in;
  }

  .hp-info {
    text-align: right;
    padding-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 300;
  }

  .info {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 300;
  }

  .player-status {
    padding-top: 14px;
    max-width: 26px;
    max-height: 26px;
    text-align: left;

    .status-img {
      width: 26px;
      height: 26px;
    }
  }

}
